<!DOCTYPE html>
   <head>
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Cache-Control" content="no-cache">
      <title> </title>
      <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
   </head>

   <body>

     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2020_02_plot.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2020_02_solar.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2020_02_wind.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2020_02_fs.png')}}" alt="graph.png"/></center></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2020_02_fw.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>

     <center><img src="{{url_for('static', filename='PC/area_2020_04_plot.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2020_04.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><center><img src="{{url_for('static', filename='PC/area_2021_03_plot.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='PC/area_2021_03.png')}}" alt="graph.png"/></center>

     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='OWM/onecall_01.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='VC/pair_VC.png')}}" alt="graph.png"/></center>
     <h1>{{ title }}</h1>
     <center><img src="{{url_for('static', filename='VC/pair_VC_02.png')}}" alt="graph.png"/></center>

   </body>
</html>
